<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bankacılık Uygulaması{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'register' %}">Kayıt Ol</a>
            <a href="{% url 'login' %}">Giriş Yap</a>
            <a href="{% url 'hesap_list' %}">Hesaplarım</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
